<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>

		<script>

			function populateList(data) {
				console.log(data)
				const selector = document.getElementById("worker-name")
				data.forEach(item => {
					selector.innerHTML+= selectOption(item.firstname + " " + item.lastname, item.lastname + ", " + item.firstname)
				})
			}

			function selectOption(value, display) {
				return "<option value =\"" + value  + "\">" + display + "</option>"
			}

		</script>
	</head>

<body>

	<%- include("../partials/header.ejs") %>
	<% var workers = workers %>
	<script>
		window.onload = () => {
				populateList(<%- workers %>)
				

			}
	</script>
<h3 style = "margin-bottom: 5px">Login: </h3>
<div style = "color:red"><%- error%></div>

<form action = "/validate" method = "POST">
	<input list = "worker-name">
	<datalist name = 'name' id = "worker-name" >
		<option disabled selected> -- Select your Name --</option>
	</datalist>


	<input name = 'eid' type = text value = "E">

	<input type = 'submit'>
</form>
</body>
</html>