<script>
	window.addEventListener("load", () => {
		document.getElementById("menu-link").setAttribute("href", appendCurrentURL("landing"))
		document.getElementById("back-link").setAttribute("href", "javascript: history.back()")


	});
</script>
<hr>
<div style = "display:flex; flex-direction: row; justify-content: space-around;">
	<button onclick = "history.back()">Back</button>
	<button onclick = "location.reload()gi">Reload</button>
	<button onclick = "location.href = appendCurrentURL('landing')">Menu</a></button>
	<button onclick = "location.href = '/logout'">Logout</button>
</div>