<script>
	window.addEventListener("load", () => {
		document.getElementById("menu-link").setAttribute("href", appendCurrentURL("landing"))
		document.getElementById("back-link").setAttribute("href", "javascript: history.back()")


	});
</script>
<hr>
<div style = "display:flex; flex-direction: column;">
	<button><a id = "back-link">Back</a></span>
	<button><a id = "menu-link">Menu</a></span>
	<button><a href = "/logout">Logout</a></span>
</div>