.input input{
	display: inline;
	width: 90%;
}
.input{
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px 10px;
	margin-bottom: 15px;
	margin-top: 5px;
}
#id, #eid{
	border:none
}
#prefix{
	color:grey;
	font-weight: bold;
	font-size: 12px;
	width: %;
}