.input input{
	display: inline;
	width: 80%;
}
.input{
	border: 1px solid black;
	border-radius: 3px;
	padding: 0px 5px;
	margin-bottom: 15px;
	margin-top: 10px;
	/* display: block; */
}
#id, #eid{
	border:none
}
#prefix{
	color:grey;
	font-weight: bold;
	font-size: 12px;
	width: 10%;
}